In [2]:
import pandas as pd

df = pd.read_csv("./Network/customnetworkstopids.csv")

In [8]:
df[df.duplicated(subset=['TripId', 'StopId'], keep=False)]

         LineId  TripId  StopIndex  StopId  ArrivalTime  DepartureTime
0             0       0          0       0        19919          19800
1             0       0          1       1        20040          19920
2             0       0          2       2        20160          20040
3             0       0          3       3        20280          20160
4             0       0          4       4        20400          20280
...         ...     ...        ...     ...          ...            ...
4686860   13785    1079          1   25123       149820         149701
4686861   13785    1080          0   25124       149339         149220
4686862   13785    1080          1   25123       149880         149761
4686863   13785    1081          0   25124       149399         149280
4686864   13785    1081          1   25123       149940         149821

[4494243 rows x 6 columns]

In [12]:
df.groupby(['TripId', 'StopId']).size()

TripId  StopId
0       0         2
        1         2
        2         2
        3         2
        4         2
                 ..
2299    819       2
2300    818       2
        819       2
2301    818       2
        819       2
Length: 1502546, dtype: int64

In [14]:
df

         LineId  TripId  StopIndex  StopId  ArrivalTime  DepartureTime
0             0       0          0       0        19919          19800
1             0       0          1       1        20040          19920
2             0       0          2       2        20160          20040
3             0       0          3       3        20280          20160
4             0       0          4       4        20400          20280
...         ...     ...        ...     ...          ...            ...
4686860   13785    1079          1   25123       149820         149701
4686861   13785    1080          0   25124       149339         149220
4686862   13785    1080          1   25123       149880         149761
4686863   13785    1081          0   25124       149399         149280
4686864   13785    1081          1   25123       149940         149821

[4686865 rows x 6 columns]

In [18]:
df[['TripId', 'StopId']].value_counts()

TripId  StopId
0       2177      158
1       2177      147
0       20541     101
1       20541     101
0       1912       94
                 ...
37      3085        1
        3086        1
        3087        1
78      18121       1
39      338         1
Length: 1502546, dtype: int64

In [28]:
df[(df['TripId'] == 0) & (df['StopId'] == 2177)]

        LineId  TripId  StopIndex  StopId  ArrivalTime  DepartureTime
393271     375       0          1    2177        78420          78300
393285     376       0          1    2177        82140          82020
393293     377       0          1    2177        22500          22380
395071     401       0          2    2177        47400          47280
409079     572       0          4    2177        67320          67200
...        ...     ...        ...     ...          ...            ...
784471    3765       0          7    2177        58140          58020
784506    3768       0          5    2177        69180          69060
784670    3773       0          7    2177        65340          65220
784692    3774       0          7    2177        50940          50820
788061    3816       0          2    2177        81780          81660

[158 rows x 6 columns]

In [40]:
df['trip'] = df['LineId'].astype(str) + '_' + df['TripId'].astype(str)

In [41]:
df[['trip', 'StopId']].value_counts()

trip      StopId
10376_3   16517     3
10279_87  16503     3
10279_86  16503     3
7191_10   9847      3
10279_85  16503     3
                   ..
12845_21  21734     1
          23171     1
          23172     1
          23173     1
9_5       1637      1
Length: 4646705, dtype: int64

In [44]:
df[(df['trip'] == "10279_85") & (df['StopId'] == 16503)]

,LineId,TripId,StopIndex,StopId,ArrivalTime,DepartureTime,trip
3074161,10279,85,0,16503,134099,133800,10279_85
3074168,10279,85,7,16503,134881,134581,10279_85
3074179,10279,85,18,16503,135901,135602,10279_85